body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.ba-header{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}

.ba-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ba-menu{
    display: flex;
    justify-content: space-between;
}
.ba-menu__item+ .ba-menu__item{
    margin-left: 30px;

}

.ba-menu__link{
    color: white;
    transition: .2s;
}
.ba-menu__link:hover,
.ba-menu__link:focus{
    color: #e71cb4;
}

.ba-menu__link:active{
    color: pink;
}


.ba-logo__link{
    color: white;
}

.ba-hero{
    background-color: black;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    text-align: center;
    color: white;
    padding-top: 33.75vh;
}

.ba-hero_title{
    font-size: 3.75rem;
    letter-spacing: 0;
    margin-bottom: 0;
}

.ba-hero_text{
    font-size: 1.875rem;
    margin-bottom: 2.333em;
}

.ba-btn{
    display: inline-block;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    padding: 0 21px;
    color: white;
    text-decoration: none;
    transition: .4s;
}

.ba-btn:hover, 
.ba-btn:focus{
    background-color: white;
    color: black;
}
.ba-btn:active{
    opacity: .8;
}